<mat-toolbar>
    <button mat-icon-button  style="background-color: rgb(0, 0, 0);" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button>
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon style="color: rgb(36, 235, 112);">share</mat-icon>
    </button>
  </mat-toolbar>


<div class="rd-navbar-inner">

    <div class="rd-navbar-aside-right">
        <div class="rd-navbar-nav-wrap">
            <div class="rd-navbar-nav-scroll-holder">
                <ul class="rd-navbar-nav">
                    <li class="active"><a routerLink="index">Home</a>
                    </li>
                    <li><a routerLink="/about">About Us</a>
                    </li>
                    <li><a routerLink="/contacts">Contacts</a>
                    </li>
                    <li><a routerLink="/typography">Typography</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>